.fundoLogin {
    background-image: url("/src/assets/img/atena2.jpeg");
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    transform: scaleX(-1)
}

#entrar {
    width: 15rem;
    height: 3.5rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    background: #D973AB;
    color: #FFF;
}

.usuario2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
}

@media screen and (width <= 1160px) {
    div.caixa {
        width: 50rem;
    }
}

@media screen and (width <= 930px) {
    div.imagem {
        display: none;
    }

    div.caixa {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40rem;
    }
}

@media screen and (width <= 750px) {
    div.caixa {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35rem;
    }
}

@media screen and (width <= 670px) {
    div.caixa {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 23rem;
    }
}