
.borda {
  outline: 2px solid hsla(16, 78%, 76%, 0.30);
  box-shadow: 0px 0px 8px 0px rgba(203, 95, 93, 0.40);
  border-radius: 1.8rem;
  background: rgba(242, 173, 148, 0.10);
}

.fonte {
  font-family: 'Inter', sans-serif;
}

.input {
  border: 2px solid rgba(0, 0, 0, 0.06);
  outline: none;
  border-radius: 13px;
  width: 6rem;
  padding: 0.05rem;
}

@media screen and (width < 1280px) {
  h2.nome-format {
    font-size: 1rem;
  }
}

@media screen and (width <=1460px) {
  
  .duracao-format {
    overflow-y: scroll;
  }

  .duracao-format::-webkit-scrollbar {
    width: 0.3rem;
    background-color: hsla(16, 78%, 76%, 0.90);
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }::-webkit-scrollbar-thumb {
    width: 0.3rem;
    background-color: rgba(203, 95, 93, 0.40);
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }

  div.borda {
    width: 100%;
  }
  span.duracao-format {
    margin-bottom: 0.7rem;
  }
  div.div-cima {
    gap: 0;
  }
  h2.nome-format {
    font-size: 0.8rem;
  }
  span.categoria-format {
    font-size: 0.7rem;
  }
}

