
.borda {
  outline: 2px solid hsla(16, 78%, 76%, 0.30);
  box-shadow: 0px 0px 8px 0px rgba(203, 95, 93, 0.40);
  border-radius: 1.8rem;
  background: rgba(242, 173, 148, 0.10);
}

.fonte {
  font-family: 'Inter', sans-serif;
}

.input {
  border: 2px solid rgba(0, 0, 0, 0.06);
  outline: none;
  border-radius: 13px;
  width: 6rem;
  padding: 0.05rem;
}

span.duracao-format {
  overflow-y: auto;
  margin-bottom: 0.3rem;
  padding-right: 0.50rem;
}

span.duracao-format::-webkit-scrollbar {
  width: 0.25rem;
  background-color: transparent;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}span::-webkit-scrollbar-thumb {
  width: 0.25rem;
  background-color: hsla(16, 78%, 76%, 0.60);
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

@media screen and (width < 1280px) {
  h2.nome-format {
    font-size: 1rem;
  }

  span.valor {
    font-size: 0.8rem;
  }
}

@media screen and (width <=1460px) {
  
  span.duracao-format {
    overflow-y: auto;
    margin-bottom: 0.7rem;
    padding: 0.50rem;
  }

  span.duracao-format::-webkit-scrollbar {
    width: 0.25rem;
    background-color: transparent;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }span::-webkit-scrollbar-thumb {
    width: 0.25rem;
    background-color: hsla(16, 78%, 76%, 0.60);
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }

  div.borda {
    width: 100%;
  }
  div.div-cima {
    gap: 0;
  }
  h2.nome-format {
    font-size: 0.8rem;
  }
  span.categoria-format {
    font-size: 0.7rem;
  }

  button.btn {
    padding: 0.25rem;
    width: 3.35rem;
  }
}

