.padrao {
  font-family: 'Inter', sans-serif;
}

.responsividade {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

@media screen and (width <= 1235px) {
  div.responsividade {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (width <= 810px) {
  div.responsividade {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}